.main-title{
    font-weight: 700;
}

.alter-title{
    font-size: 12px;
    color:black

}

.nav-btns {
    display: flex;
    gap: 10px;
    align-items: center;
  }

.light-mode-btn{
  border: 0;
  font-size: 24px;
  color: rgb(0, 179, 255);
  background: 0;
}

.light-mode-btn:hover{
  filter: drop-shadow(0 0 2em #2ec5ef6b);
  transform: scale(1.15);
}

.btn:hover{
  filter: drop-shadow(0 0 5em #2ec5ef6b);
  transform: scale(1.02);
  }


  
.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }




  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
  }


  .logo .mark {
    width: 42px;
    height: 42px;
    background: linear-gradient(rgb(0, 179, 255), rgb(146, 192, 230));
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    text-decoration: none; 
    color: inherit; 
  
  }

  .mark :visited{

  }

.mark-url{
  color: #fff;
  text-decoration: none;
}
