.search-bar {
    display: flex;
    gap: 12px;
    margin: 16px 0;
    align-items: center;
  }
  .search-light {
    flex: 1;
    display: flex;
    gap: 8px;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    box-shadow: 1px 2px rgba(69, 184, 241, 0.195);
  }

  .search-dark {
    flex: 1;
    display: flex;
    gap: 8px;
    align-items: center;
    background: rgb(90, 90, 90);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #3c3c3c;
    box-shadow: 1px 2px rgba(69, 184, 241, 0.195);
    color:aliceblue
  }


  .search-light input {
    border: 0;
    outline: none;
    flex: 1;
    font-size: 16px;
    color: #eaeaea;;
  }

  .search-dark input {
    border: 0;
    outline: none;
    flex: 1;
    font-size: 16px;
    background:  rgb(90, 90, 90);
    color: aliceblue;
  }

  .search-actions {
    display: flex;
    gap: 8px;
  }

  select{
    border: 0;
    background: transparent;
        
  }

  .city-input{
    width: 120;
    border: 0;
    outline: none;
  }