.profile-picture{
    width: 120px;        /* уменьшаем ширину */
    height: 120px;       /* уменьшаем высоту */
    object-fit: cover;   /* обрезает изображение по контейнеру, не искажая */
    border-radius: 50%;
  }

  .profile-body-light{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 100px;
  }

  .profile-body-light h3{
    font-size: 30px;

  }

  .profile-body-dark{
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .profile-body-dark h3{
    font-size: 30px;

  }

  .profile-text-block-light{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .profile-text-block-dark{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .profile-description{
    width:300px;
    border-top: 1px solid grey;
  }

  .profile-main-block-light{
    display: flex;
    flex-direction: row;
    gap:50px;
    background: white;
    border-radius: 25px;
    min-width: 650px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    box-shadow: 2px 2px rgba(102, 205, 243, 0.188);
  }

  .profile-main-block-dark{
    display: flex;
    flex-direction: row;
    gap:50px;
    background: rgb(31,33,40);
    border: 1px solid #696868;
    border-radius: 25px;
    min-width: 650px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    box-shadow: 2px 2px rgba(102, 205, 243, 0.188);
  }

  .profile-contacts-block-light{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 130px;
    border:0;
    border-radius: 25px;
    background: rgb(255, 252, 252);
    box-shadow: 2px 2px rgba(102, 205, 243, 0.188);
    padding: 10px;
    gap: 0
  }

  .profile-contacts-block-light h2 {
    color: rgb(0, 179, 255);
    font-weight: 800;
    margin: 0;
  }

  .profile-contacts-block-light h4{
    margin: 0;
  }

  .profile-contacts-block-dark{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 130px;

    border-radius: 25px;
    background: rgb(31,33,40);
    border: 1px solid #696868;
    box-shadow: 2px 2px rgba(102, 205, 243, 0.188);
    padding: 10px;
    gap:1
  }

  .profile-contacts-block-dark h4{
    margin: 0;
  }
  

  .contact-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
    margin:0;
  }
  

  .profile-lists-block{
    margin-top: 20px;
    border-top: 1px solid grey;
  }

  .profile-button-block{
    display: flex;
    align-self: center;
    justify-self: center;
    padding-top: 30px;
  }

  .profile-edit-btn{
    border:0;
    border-radius: 25px;
    margin-top:10px;
    height: 45px;
    width: 45px;
    background-color: aqua;
  }